In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pd.set_option('display.max_rows', 500)

In [22]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [11]:
df = pd.read_csv('glassdoor_jobs.csv').drop(columns=['Unnamed: 0'])

In [12]:
df.isnull().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [13]:
df.duplicated().sum()

356

In [24]:
df.shape

(956, 14)

In [25]:
df.drop_duplicates(inplace=True)

In [26]:
df.describe()

           Rating      Founded
count  600.000000   600.000000
mean     3.633333  1771.995000
std      1.067296   604.246977
min     -1.000000    -1.000000
25%      3.400000  1939.000000
50%      3.800000  1993.500000
75%      4.200000  2008.000000
max      5.000000  2019.000000

In [29]:
df.sample(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
162,Data Engineer,$80K-$120K (Glassdoor est.),"As a Data Engineer at Productive Edge, you wil...",4.3,Productive Edge\n4.3,"Chicago, IL","Chicago, IL",51 to 200 employees,2008,Company - Private,Computer Hardware & Software,Information Technology,$10 to $25 million (USD),"Numerator, Rise Interactive, Salom"
417,Scientist Manufacturing - Kentucky BioProcessing,$68K-$139K (Glassdoor est.),British American Tobacco\nReynolds American In...,3.1,Reynolds American\n3.1,"Owensboro, KY","Winston-Salem, NC",5001 to 10000 employees,1875,Company - Private,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
420,Consultant - Analytics Consulting,$54K-$71K (Glassdoor est.),Q4 - AINA - Sr RPA Developer (5A) - AA - Hub\n...,3.0,Infosys\n3.0,"Hartford, CT","Bengaluru, India",10000+ employees,1981,Company - Public,IT Services,Information Technology,$10+ billion (USD),"Tata Consultancy Services, Accenture, Cognizan..."
376,RESEARCH SCIENTIST - BIOLOGICAL SAFETY,$38K-$82K (Glassdoor est.),Join the Applied Physics Division as a Researc...,3.9,Southwest Research Institute\n3.9,"San Antonio, TX","San Antonio, TX",1001 to 5000 employees,1947,Nonprofit Organization,Research & Development,Business Services,$500 million to $1 billion (USD),"Los Alamos National Laboratory, Battelle, SRI ..."
362,"Data Engineer, Data Engineering and Artifical ...",$71K-$134K (Glassdoor est.),Job Description\n\n\nAre you looking for a pat...,3.7,Takeda Pharmaceuticals\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Novartis, Baxter, Pfizer"

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 0 to 948
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          600 non-null    object
 1   Salary Estimate    600 non-null    object
 2   Job Description    600 non-null    object
 3   Rating             600 non-null    float64
 4   Company Name       600 non-null    object
 5   Location           600 non-null    object
 6   Headquarters       600 non-null    object
 7   Size               600 non-null    object
 8   Founded            600 non-null    int64
 9   Type of ownership  600 non-null    object
 10  Industry           600 non-null    object
 11  Sector             600 non-null    object
 12  Revenue            600 non-null    object
 13  Competitors        600 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 70.3+ KB

## Problems with the Dataset
- Apply Ordinal Encoding on Size
- OHE on Type of ownership
- Salary Estimate has to be in numbers

In [45]:
df['Salary Estimate'].astype(str).str.replace(' (Glassdoor est.)','')

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_21448\1168484092.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary Estimate'].astype(str).str.replace(' (Glassdoor est.)','')

0       $53K-$91K (Glassdoor est.)
1      $63K-$112K (Glassdoor est.)
2       $80K-$90K (Glassdoor est.)
3       $56K-$97K (Glassdoor est.)
4      $86K-$143K (Glassdoor est.)
                  ...
922                             -1
925                             -1
928    $59K-$125K (Glassdoor est.)
945    $80K-$142K (Glassdoor est.)
948    $62K-$113K (Glassdoor est.)
Name: Salary Estimate, Length: 600, dtype: object

In [60]:
df['Salary Estimate'].str.replace(" (Glassdoor est.)","",regex=True)

0       $53K-$91K (Glassdoor est.)
1      $63K-$112K (Glassdoor est.)
2       $80K-$90K (Glassdoor est.)
3       $56K-$97K (Glassdoor est.)
4      $86K-$143K (Glassdoor est.)
                  ...
922                             -1
925                             -1
928    $59K-$125K (Glassdoor est.)
945    $80K-$142K (Glassdoor est.)
948    $62K-$113K (Glassdoor est.)
Name: Salary Estimate, Length: 600, dtype: object

In [53]:
df['Salary Estimate'].replace('','')

0       $53K-$91K (Glassdoor est.)
1      $63K-$112K (Glassdoor est.)
2       $80K-$90K (Glassdoor est.)
3       $56K-$97K (Glassdoor est.)
4      $86K-$143K (Glassdoor est.)
                  ...
922                             -1
925                             -1
928    $59K-$125K (Glassdoor est.)
945    $80K-$142K (Glassdoor est.)
948    $62K-$113K (Glassdoor est.)
Name: Salary Estimate, Length: 600, dtype: object

In [56]:
'$53K-$91K (Glassdoor est.)'.replace(' (Glassdoor est.)','')

TypeError: str.replace() takes no keyword arguments

In [41]:
df['Salary Estimate'].replace('','')

0       $53K-$91K (Glassdoor est.)
1      $63K-$112K (Glassdoor est.)
2       $80K-$90K (Glassdoor est.)
3       $56K-$97K (Glassdoor est.)
4      $86K-$143K (Glassdoor est.)
                  ...
922                             -1
925                             -1
928    $59K-$125K (Glassdoor est.)
945    $80K-$142K (Glassdoor est.)
948    $62K-$113K (Glassdoor est.)
Name: Salary Estimate, Length: 600, dtype: object