In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Cleaned-5.csv')

In [4]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,company_txt,age,skills,Company Rating,Company Name
0,Data Scientist,72000,"['Data Scientist', 'Location: Albuquerque, NM'...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,75000000,None,Tecolote Research,47,2,3.8,Tecolote Research
1,Healthcare Data Scientist,87500,"['What You Will Do:', '', 'I. General Summary'...",3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,3500000000,None,University of Maryland Medical System,36,1,3.4,University of Maryland Medical System
2,Data Scientist,85000,"[""KnowBe4, Inc. is a high growth information s...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,300000000,None,KnowBe4,10,3,4.8,KnowBe4
3,Data Scientist,76500,"['*Organization and Job ID**', 'Job ID: 310709...",3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",750000000,"Oak Ridge National Laboratory, National Renewa...",PNNL,55,1,3.8,PNNL
4,Data Scientist,114500,"['Data Scientist', 'Affinity Solutions / Marke...",2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,300000000,"Commerce Signals, Cardlytics, Yodlee",Affinity Solutions,22,2,2.9,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,"Sr Scientist, Immuno-Oncology - Oncology",102500,"['Site Name: USA - Massachusetts - Cambridge',...",3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,10000000000,"Pfizer, AstraZeneca, Merck",GSK,190,1,3.8,Tecolote Research
713,Senior Data Engineer,73500,"['THE CHALLENGE', 'Eventbrite has a world-clas...",4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,300000000,"See Tickets, TicketWeb, Vendini",Eventbrite,14,3,3.8,Tecolote Research
714,"Project Scientist - Auton Lab, Robotics Institute",127500,['The Auton Lab at Carnegie Mellon University ...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,300000000,None,Software Engineering Institute,36,1,3.8,Tecolote Research
715,Data Science Manager,93500,"['Data Science ManagerResponsibilities:', '', ...",3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,7500000,None,"Numeric, LLC",-1,1,3.8,Tecolote Research
716,Research Scientist – Security and Privacy,93500,"[""Returning Candidate? Log back in to the Care...",3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,75000000,None,Riverside Research Institute,53,1,NaN,NaN