In [1]:
import pandas as pd
import numpy as np

In [87]:
df=pd.read_csv('Cleaned-3.csv')

In [96]:
df.drop(['index'],axis=1,inplace=True)

In [97]:
df

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,company_txt,age,job_simp,skills,Company Rating,Company Name
0,Data Scientist,72000,"['Data Scientist', 'Location: Albuquerque, NM'...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),None,Tecolote Research,47,data scientist,2,3.8,Tecolote Research
1,Healthcare Data Scientist,87500,"['What You Will Do:', '', 'I. General Summary'...",3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),None,University of Maryland Medical System,36,data scientist,1,3.4,University of Maryland Medical System
2,Data Scientist,85000,"[""KnowBe4, Inc. is a high growth information s...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),None,KnowBe4,10,data scientist,3,4.8,KnowBe4
3,Data Scientist,76500,"['*Organization and Job ID**', 'Job ID: 310709...",3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",PNNL,55,data scientist,1,3.8,PNNL
4,Data Scientist,114500,"['Data Scientist', 'Affinity Solutions / Marke...",2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Affinity Solutions,22,data scientist,2,2.9,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,"Sr Scientist, Immuno-Oncology - Oncology",102500,"['Site Name: USA - Massachusetts - Cambridge',...",3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",GSK,190,na,1,3.8,Tecolote Research
713,Senior Data Engineer,73500,"['THE CHALLENGE', 'Eventbrite has a world-clas...",4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",Eventbrite,14,data engineer,3,3.8,Tecolote Research
714,"Project Scientist - Auton Lab, Robotics Institute",127500,['The Auton Lab at Carnegie Mellon University ...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,None,Software Engineering Institute,36,na,1,3.8,Tecolote Research
715,Data Science Manager,93500,"['Data Science ManagerResponsibilities:', '', ...",3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),None,"Numeric, LLC",-1,manager,1,3.8,Tecolote Research
716,Research Scientist – Security and Privacy,93500,"[""Returning Candidate? Log back in to the Care...",3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),None,Riverside Research Institute,53,na,1,NaN,NaN

In [98]:
best250=df.sort_values(by=['Rating'],ascending=False)[:250]

In [99]:
best250.iloc[249,]

Job Title                                     Principal Data Scientist
Salary Estimate                                                 161500
Job Description      ['At AstraZeneca we are constantly pushing the...
Rating                                                             3.9
Headquarters                                 Cambridge, United Kingdom
Size                                                                 7
Founded                                                           1913
Type of ownership                                     Company - Public
Industry                                     Biotech & Pharmaceuticals
Sector                                       Biotech & Pharmaceuticals
Revenue                                             $10+ billion (USD)
Competitors                           Roche, GlaxoSmithKline, Novartis
company_txt                                                AstraZeneca
age                                                                107
job_simp                                                data scientist
skills                                                               2
Company Rating                                                     3.8
Company Name                                         Tecolote Research
Name: 606, dtype: object

In [36]:
df.drop(['avg_salary'],axis=1,inplace=True)

In [100]:
df

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,company_txt,age,job_simp,skills,Company Rating,Company Name
0,Data Scientist,72000,"['Data Scientist', 'Location: Albuquerque, NM'...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),None,Tecolote Research,47,data scientist,2,3.8,Tecolote Research
1,Healthcare Data Scientist,87500,"['What You Will Do:', '', 'I. General Summary'...",3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),None,University of Maryland Medical System,36,data scientist,1,3.4,University of Maryland Medical System
2,Data Scientist,85000,"[""KnowBe4, Inc. is a high growth information s...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),None,KnowBe4,10,data scientist,3,4.8,KnowBe4
3,Data Scientist,76500,"['*Organization and Job ID**', 'Job ID: 310709...",3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",PNNL,55,data scientist,1,3.8,PNNL
4,Data Scientist,114500,"['Data Scientist', 'Affinity Solutions / Marke...",2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Affinity Solutions,22,data scientist,2,2.9,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,"Sr Scientist, Immuno-Oncology - Oncology",102500,"['Site Name: USA - Massachusetts - Cambridge',...",3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",GSK,190,na,1,3.8,Tecolote Research
713,Senior Data Engineer,73500,"['THE CHALLENGE', 'Eventbrite has a world-clas...",4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",Eventbrite,14,data engineer,3,3.8,Tecolote Research
714,"Project Scientist - Auton Lab, Robotics Institute",127500,['The Auton Lab at Carnegie Mellon University ...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,None,Software Engineering Institute,36,na,1,3.8,Tecolote Research
715,Data Science Manager,93500,"['Data Science ManagerResponsibilities:', '', ...",3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),None,"Numeric, LLC",-1,manager,1,3.8,Tecolote Research
716,Research Scientist – Security and Privacy,93500,"[""Returning Candidate? Log back in to the Care...",3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),None,Riverside Research Institute,53,na,1,NaN,NaN

In [101]:
data=df

In [102]:
data

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,company_txt,age,job_simp,skills,Company Rating,Company Name
0,Data Scientist,72000,"['Data Scientist', 'Location: Albuquerque, NM'...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),None,Tecolote Research,47,data scientist,2,3.8,Tecolote Research
1,Healthcare Data Scientist,87500,"['What You Will Do:', '', 'I. General Summary'...",3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),None,University of Maryland Medical System,36,data scientist,1,3.4,University of Maryland Medical System
2,Data Scientist,85000,"[""KnowBe4, Inc. is a high growth information s...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),None,KnowBe4,10,data scientist,3,4.8,KnowBe4
3,Data Scientist,76500,"['*Organization and Job ID**', 'Job ID: 310709...",3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",PNNL,55,data scientist,1,3.8,PNNL
4,Data Scientist,114500,"['Data Scientist', 'Affinity Solutions / Marke...",2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Affinity Solutions,22,data scientist,2,2.9,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,"Sr Scientist, Immuno-Oncology - Oncology",102500,"['Site Name: USA - Massachusetts - Cambridge',...",3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",GSK,190,na,1,3.8,Tecolote Research
713,Senior Data Engineer,73500,"['THE CHALLENGE', 'Eventbrite has a world-clas...",4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",Eventbrite,14,data engineer,3,3.8,Tecolote Research
714,"Project Scientist - Auton Lab, Robotics Institute",127500,['The Auton Lab at Carnegie Mellon University ...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,None,Software Engineering Institute,36,na,1,3.8,Tecolote Research
715,Data Science Manager,93500,"['Data Science ManagerResponsibilities:', '', ...",3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),None,"Numeric, LLC",-1,manager,1,3.8,Tecolote Research
716,Research Scientist – Security and Privacy,93500,"[""Returning Candidate? Log back in to the Care...",3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),None,Riverside Research Institute,53,na,1,NaN,NaN

In [103]:
def func1():
    num=0
    for i in df['Revenue']:
        df['Revenue'][num]=df['Revenue'][num].replace('$','')
        df['Revenue'][num]=df['Revenue'][num].replace('Unknown / Non-Applicable','0')
        df['Revenue'][num]=df['Revenue'][num].replace(' (USD)','')

        num+=1
#         print(i)

In [104]:
func1()

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_10244\4136982634.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'][num]=df['Revenue'][num].replace('$','')
C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_10244\4136982634.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'][num]=df['Revenue'][num].replace('Unknown / Non-Applicable','0')
C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_10244\4136982634.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'][num]=df['Revenue'][num].replace(' (USD)','')

In [105]:
df

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,company_txt,age,job_simp,skills,Company Rating,Company Name
0,Data Scientist,72000,"['Data Scientist', 'Location: Albuquerque, NM'...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,50 to 100 million,None,Tecolote Research,47,data scientist,2,3.8,Tecolote Research
1,Healthcare Data Scientist,87500,"['What You Will Do:', '', 'I. General Summary'...",3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,2 to 5 billion,None,University of Maryland Medical System,36,data scientist,1,3.4,University of Maryland Medical System
2,Data Scientist,85000,"[""KnowBe4, Inc. is a high growth information s...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,100 to 500 million,None,KnowBe4,10,data scientist,3,4.8,KnowBe4
3,Data Scientist,76500,"['*Organization and Job ID**', 'Job ID: 310709...",3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",500 million to 1 billion,"Oak Ridge National Laboratory, National Renewa...",PNNL,55,data scientist,1,3.8,PNNL
4,Data Scientist,114500,"['Data Scientist', 'Affinity Solutions / Marke...",2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,0,"Commerce Signals, Cardlytics, Yodlee",Affinity Solutions,22,data scientist,2,2.9,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,"Sr Scientist, Immuno-Oncology - Oncology",102500,"['Site Name: USA - Massachusetts - Cambridge',...",3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,10+ billion,"Pfizer, AstraZeneca, Merck",GSK,190,na,1,3.8,Tecolote Research
713,Senior Data Engineer,73500,"['THE CHALLENGE', 'Eventbrite has a world-clas...",4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,100 to 500 million,"See Tickets, TicketWeb, Vendini",Eventbrite,14,data engineer,3,3.8,Tecolote Research
714,"Project Scientist - Auton Lab, Robotics Institute",127500,['The Auton Lab at Carnegie Mellon University ...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,0,None,Software Engineering Institute,36,na,1,3.8,Tecolote Research
715,Data Science Manager,93500,"['Data Science ManagerResponsibilities:', '', ...",3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,5 to 10 million,None,"Numeric, LLC",-1,manager,1,3.8,Tecolote Research
716,Research Scientist – Security and Privacy,93500,"[""Returning Candidate? Log back in to the Care...",3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,50 to 100 million,None,Riverside Research Institute,53,na,1,NaN,NaN

In [131]:
df['Revenue'].unique()

array(['50 to 100 million', '2 to 5 billion', '100 to 500 million',
       '750 million', '0', '1 to 2 billion', '25 to 50 million',
       '10+ billion', '1 to 5 million', '10 to 25 million',
       '5 to 10 billion', '50000', '5 to 10 million'], dtype=object)

In [ ]:
def func2():
    num=0
    if 'Less' in df['Revenue'][num]:
        
    num+=1

In [124]:
L=df[df['Revenue']=='Less than 1 million']['Revenue'].index

In [125]:
L

Int64Index([436, 439], dtype='int64')

In [120]:
df['Revenue'].iloc[258,]='50000'

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_10244\3438174836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'].iloc[258,]='50000'

In [127]:
df['Revenue'].iloc[436,]

'50000'

In [126]:
for i in L:
    df['Revenue'].iloc[i,]='50000'

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_10244\2312813762.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'].iloc[i,]='50000'

In [128]:
M2B=df[df['Revenue']=='500 million to 1 billion']['Revenue'].index

In [129]:
M2B

Int64Index([  3,   8,  19,  30,  31,  63,  79, 121, 133, 144, 149, 158, 180,
            188, 192, 197, 222, 259, 261, 270, 272, 277, 292, 301, 305, 316,
            330, 337, 341, 349, 390, 396, 398, 402, 413, 419, 424, 453, 454,
            476, 502, 508, 519, 545, 581, 587, 596, 601, 604, 620, 622, 630,
            643, 672, 673, 680, 693],
           dtype='int64')

In [130]:
for i in M2B:
    df['Revenue'].iloc[i,]='750 million'

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_10244\3476314541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'].iloc[i,]='750 million'

In [132]:
M10=df[df['Revenue']=='10+ billion']['Revenue'].index
for i in M10:
    df['Revenue'].iloc[i,]='10 billion'

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_10244\1468768858.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'].iloc[i,]='10 billion'

In [ ]:
M10=df[df['Revenue']=='10+ billion']['Revenue'].index
for i in M10:
    df['Revenue'].iloc[i,]='10 billion'

In [133]:
df['Revenue'].unique()

array(['50 to 100 million', '2 to 5 billion', '100 to 500 million',
       '750 million', '0', '1 to 2 billion', '25 to 50 million',
       '10 billion', '1 to 5 million', '10 to 25 million',
       '5 to 10 billion', '50000', '5 to 10 million'], dtype=object)

In [138]:
df['temp']=None

In [139]:
df

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,company_txt,age,job_simp,skills,Company Rating,Company Name,temp
0,Data Scientist,72000,"['Data Scientist', 'Location: Albuquerque, NM'...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,50 to 100 million,None,Tecolote Research,47,data scientist,2,3.8,Tecolote Research,None
1,Healthcare Data Scientist,87500,"['What You Will Do:', '', 'I. General Summary'...",3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,2 to 5 billion,None,University of Maryland Medical System,36,data scientist,1,3.4,University of Maryland Medical System,None
2,Data Scientist,85000,"[""KnowBe4, Inc. is a high growth information s...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,100 to 500 million,None,KnowBe4,10,data scientist,3,4.8,KnowBe4,None
3,Data Scientist,76500,"['*Organization and Job ID**', 'Job ID: 310709...",3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",750 million,"Oak Ridge National Laboratory, National Renewa...",PNNL,55,data scientist,1,3.8,PNNL,None
4,Data Scientist,114500,"['Data Scientist', 'Affinity Solutions / Marke...",2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,0,"Commerce Signals, Cardlytics, Yodlee",Affinity Solutions,22,data scientist,2,2.9,Affinity Solutions,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,"Sr Scientist, Immuno-Oncology - Oncology",102500,"['Site Name: USA - Massachusetts - Cambridge',...",3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,10 billion,"Pfizer, AstraZeneca, Merck",GSK,190,na,1,3.8,Tecolote Research,None
713,Senior Data Engineer,73500,"['THE CHALLENGE', 'Eventbrite has a world-clas...",4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,100 to 500 million,"See Tickets, TicketWeb, Vendini",Eventbrite,14,data engineer,3,3.8,Tecolote Research,None
714,"Project Scientist - Auton Lab, Robotics Institute",127500,['The Auton Lab at Carnegie Mellon University ...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,0,None,Software Engineering Institute,36,na,1,3.8,Tecolote Research,None
715,Data Science Manager,93500,"['Data Science ManagerResponsibilities:', '', ...",3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,5 to 10 million,None,"Numeric, LLC",-1,manager,1,3.8,Tecolote Research,None
716,Research Scientist – Security and Privacy,93500,"[""Returning Candidate? Log back in to the Care...",3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,50 to 100 million,None,Riverside Research Institute,53,na,1,NaN,NaN,None

In [140]:
def fabricate():
    num=0
    for i in df['Revenue']:
        if ' to ' in df['Revenue'][num]:
            df['None'][num]=df['Revenue'][num].split(' to ')
            df['None'].replace('million','')
            df['None'].replace('bllion','')
        num+=1

In [143]:
fabricate()

KeyError: 'None'

In [141]:
data =df

In [142]:
data.to_csv('Cleaned-4.csv')

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,company_txt,age,job_simp,skills,Company Rating,Company Name,temp
0,Data Scientist,72000,"['Data Scientist', 'Location: Albuquerque, NM'...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,50 to 100 million,None,Tecolote Research,47,data scientist,2,3.8,Tecolote Research,None
1,Healthcare Data Scientist,87500,"['What You Will Do:', '', 'I. General Summary'...",3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,2 to 5 billion,None,University of Maryland Medical System,36,data scientist,1,3.4,University of Maryland Medical System,None
2,Data Scientist,85000,"[""KnowBe4, Inc. is a high growth information s...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,100 to 500 million,None,KnowBe4,10,data scientist,3,4.8,KnowBe4,None
3,Data Scientist,76500,"['*Organization and Job ID**', 'Job ID: 310709...",3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",750 million,"Oak Ridge National Laboratory, National Renewa...",PNNL,55,data scientist,1,3.8,PNNL,None
4,Data Scientist,114500,"['Data Scientist', 'Affinity Solutions / Marke...",2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,0,"Commerce Signals, Cardlytics, Yodlee",Affinity Solutions,22,data scientist,2,2.9,Affinity Solutions,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,"Sr Scientist, Immuno-Oncology - Oncology",102500,"['Site Name: USA - Massachusetts - Cambridge',...",3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,10 billion,"Pfizer, AstraZeneca, Merck",GSK,190,na,1,3.8,Tecolote Research,None
713,Senior Data Engineer,73500,"['THE CHALLENGE', 'Eventbrite has a world-clas...",4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,100 to 500 million,"See Tickets, TicketWeb, Vendini",Eventbrite,14,data engineer,3,3.8,Tecolote Research,None
714,"Project Scientist - Auton Lab, Robotics Institute",127500,['The Auton Lab at Carnegie Mellon University ...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,0,None,Software Engineering Institute,36,na,1,3.8,Tecolote Research,None
715,Data Science Manager,93500,"['Data Science ManagerResponsibilities:', '', ...",3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,5 to 10 million,None,"Numeric, LLC",-1,manager,1,3.8,Tecolote Research,None
716,Research Scientist – Security and Privacy,93500,"[""Returning Candidate? Log back in to the Care...",3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,50 to 100 million,None,Riverside Research Institute,53,na,1,NaN,NaN,None